[Unit]
Description=Local RAG API Server
After=network.target generative-server.service embedding-server.service
Wants=generative-server.service embedding-server.service

[Service]
Type=simple
User=${SERVICE_USER}

ExecStart="${UVICORN_PATH}" "${API_PATH}"/app:app --host @HOST_IP@ --port @PORT@
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
