[Unit]
Description=llama.cpp embedding server for localRAG
After=network.target

[Service]
Type=simple
User=@SERVICE_USER@

ExecStart=@BASH@ -c 'exec @LLAMA_SERVER@ -m @LLAMA_EPATH@ --host @LLAMA_HOST@ --port @LLAMA_EPORT@ --embedding'
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
