[Unit]
Description=llama.cpp generation server for localRAG
After=network.target

[Service]
Type=simple
User=@SERVICE_USER@

ExecStart=@BASH@ -c 'exec @LLAMA_CPP_BIN@ -m @LLAMA_GPATH@ --host @LLAMA_HOST@ --port @LLAMA_GPORT@'
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
